@{
    ViewBag.Title = "About Us";
}
<h1 style="font-family: Oswald">Our Team</h1>
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<div class="team">
    <img src="/Content/Images/hristo.jpg" alt="Hristo" style="width: 150px; height: 150px;padding-top: 15px">
    <br/><p>Христо Стоянов
        <br/>
        GitHub profile:<a href="https://github.com/h-stoyanov">h-stoyanov</a>
    <br/>SoftUni profile:<a href="https://softuni.bg/users/profile/show/h.stoyanov">h.stoyanov</a>
    </p>
</div>
<div class="team">
    <img src="/Content/Images/dimitar.jpg" alt="Dimitar" style="width:150px;height:150px;padding-top: 15px">
    <br/><p>Димитър Димитров
        <br/>
        GitHub profile:<a href="https://github.com/DDimitrov92">DDimitrov92</a>
        <br/>SoftUni profile:<a href="https://softuni.bg/users/profile/show">D_Dimitrov92</a>
    </p>
</div><div class="team">
    <img src="/Content/Images/dido.jpg" alt="Dido" style="width:150px;height:150px;padding-top: 15px">
    <br/><p>Деян Чакъров
        <br/>
        GitHub profile:<a href="https://github.com/didoviktorov">didoviktorov</a>
        <br/>SoftUni profile:<a href="https://softuni.bg/users/profile/show/d.viktorov">d.viktorov</a>
    </p>
</div><div class="team">
    <img  src="~/Content/Images/dimitarD.jpg" alt="Mountain View" style="width:150px;height:150px;padding-top: 15px">
    <br/><p>Димитър Данчев
        <br />
        GitHub profile:<a href="https://github.com/DDimitrov92">danchevia</a>
       <br/> SoftUni profile:<a href="https://softuni.bg/users/profile/show">danchevia</a>
    </p>
</div>
<div class="team">
    <img src="/Content/Images/emil.jpg" alt="Emil" style="width: 150px; height: 150px;padding-top: 15px">
    <br/><p>Eмил Йорданов
        <br/>
        GitHub profile:<a href="https://github.com/DrakeSang">DrakeSang</a>
        <br/>SoftUni profile:<a href="https://softuni.bg/users/profile/show/emicha">emicha</a>
    </p>
</div>
<div class="team">
    <img src="~/Content/Images/Yohan.jpg" alt="Yohan" style="width: 150px; height: 150px;padding-top: 15px">
    <br /><p>
        Йоханес Богосян
        <br />
        GitHub profile:<a href="https://github.com/karabinata">karabinata</a>
        <br />SoftUni profile:<a href="https://softuni.bg/users/profile/show/karabinata">karabinata</a>
    </p>
</div>