body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
    /*background-image:url(Images/background2.jpg);*/
    background-color: #FBCEB1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
  float: left;
  padding: 3px 2px;
}

.logo img:hover {
  outline: 2px solid white;
}

.imageDiv {
  width: 400px;
  overflow: hidden; /* essential, hides the overflow from the image */
}

.imageDiv img {
  width: 100%;  /* makes image 100% width of the container */
  position: relative; /* allows movement inside the container */
      /* OPTIONAL: use this to adjust where the 'center' starts */
      /* only useful on images that will be clipped */
  top: -__px;  
}

.imagePhoto{
  width: 100px;
  overflow: hidden; /* essential, hides the overflow from the image */
}

.imagePhoto img{
  width: 100%;  /* makes image 100% width of the container */
  position: relative; /* allows movement inside the container */
      /* OPTIONAL: use this to adjust where the 'center' starts */
      /* only useful on images that will be clipped */
  top: -__px;  
}
.listings-title{
    color: #FFFAF0;
}
.listings-background{
    border-radius: 8px;
}
.last-listings {
    margin: 10px;
    border: 3px #F7E7CE;
    border-style:solid;
    color:black;
    height : auto;
    width: auto;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    font-size: 50px;
    font-weight:bold;
}
.posts{
     margin: 10px 15px;
     border-bottom-color: #ffe8c8;
}
.footers {
    
    border-radius: 4px;
    height: 35px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.comments-details{
    border-color: black;
}

.comment-box{
    border: 1px solid black;
}

.comment_col {
    text-align: center;
}


.jumbotron img{
  width: 100%;  /* makes image 100% width of the container */
  height: 400px;
  position: relative; /* allows movement inside the container */
      /* OPTIONAL: use this to adjust where the 'center' starts */
      /* only useful on images that will be clipped */
  top: -__px;
    border-radius: 10px;
}

.navbar-inverse {
    background-image:url('Images/background -1.jpg');
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFAF0;
}

a {
  color: #FFFAF0;
  text-decoration: none;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    border-top: 1px solid black;
}

hr {
    border-top: 1px solid #ffe8c8;
}

.thumbnail {
    background-color: #F7E7CE;
    border-radius: 20px;
}

.thumbnail .caption {
    color: black;
}

.thumbnail > img {
    height: 250px;
}

article {
    margin: 15px 0px;
}
.team {
    margin: 15px;
    text-align: center;
    border: solid;
    border-radius: 8px;
    width: 300px;
    display: inline-block;
    border-color: beige;
    background-color:lightsalmon;
    margin-left: 50px;
}

#notificationBox{
    padding: 0px 10px 0px 10px;
}

#comment_text {
    word-wrap: break-word;
}

